.destination-part{
    .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .col-md-4{
        
        img{
            width: 440px;
        }
    }
}

.hotel-part{
    .row{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    img{
        width: 400px;
    }
}

.booking-part{
    width: 500px;
    margin: 0 auto;
}